@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

/* body {
    background-color: #fff;
} */

/* common elenemts */
ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

h2 {
    font-family: "Nunito Sans", sans-serif;
    color: #0B0B0B;
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    display: block;
}

/* common class */
.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col {
    padding: 0 15px;
}

.col-50 {
    width: 50%;
}

.col-33 {
    width: 33.33%;
}

.col-25 {
    width: 25%;
}

/* navbar */
.navbar {
    background-color: #D7CFC4;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 111; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29px 0;
}

.navbar .nav2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.navbar .fig {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.navbar .logo {
    max-width: 141px;
    max-height: 32px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .logo img {
    max-width: 141px;
    max-height: 32px;
    width: 100%;
    height: 100%;
}

/* opfw */
.opfw h2 {
    margin-top: 77px;
}

.opfw ul {
    display: flex;
    justify-content: center;
    gap: 128px;
    margin-top: 40px;
}

.opfw .s1 {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 2px;
    border-bottom: 2px solid #000;
}

.opfw .s2 {
    color: #525252;
    font-size: 18px;
    font-weight: bold;
}

.opfw .card {
    margin-top: 58px;
}

.opfw .card-content {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
}

.opfw .left .p1 {
    color: #717171;
    font-size: 18px;
    font-weight: normal;
}

.opfw .left .p2 {
    color: #1C1C1C;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.opfw .left .p3 {
    display: inline-block;
    color: #989898;
    font-size: 16px;
    font-weight: normal;
    text-decoration: line-through;
    margin-top: 10px;
}

.opfw .left .p4 {
    display: inline-block;
    color: #1C1C1C;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.opfw .p11 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.opfw .p11 a {
    font-family: "Poppins", sans-serif;
    color: #1C1C1C;
    font-size: 18px;
    font-weight: 500;
    padding: 11px 41px;
    border: 2px solid #1C1C1C;
    border-radius: 5px;
    margin: 46px 0 58px;
}

.opfw .p11 a:hover {
    color: #F6F4F0;
    background-color: #0B0B0B;
}

/* dotw */
.dotw .content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #CDA28C;
}

.dotw .dotw-img {
    position: relative;
    right: calc(-48vw + 48.5%);
    max-width: 48vw;
}

.dotw img {
    width: 100%;
    height: auto;
    display: block;
}

.dotw .text {
    max-width: 468px;
    width: 100%;
    margin-right: 200px;
}

.dotw .p1 {
    text-transform: uppercase;
    color: #3B3B3B;
    font-size: 18px;
    margin-bottom: 24px;
}

.dotw .p1::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 2px;
    background-color: #6E6152;
    margin-right: 12px;
    vertical-align: middle;
}

.dotw .p2 {
    font-family: "Italiana", sans-serif;
    text-transform: uppercase;
    color: #000;
    font-size: 64px;
    margin-bottom: 16px;
}

.dotw .p3 {
    color: #000;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 28px;
}

.dotw .p11 a {
    font-family: "Poppins", sans-serif;
    color: #1C1C1C;
    font-size: 18px;
    font-weight: 500;
    padding: 11px 41px;
    border: 2px solid #1C1C1C;
    border-radius: 5px;
}

.dotw .p11 a:hover {
    color: #F6F4F0;
    background-color: #0B0B0B;
}

/* sbc */
.sbc h2 {
    margin-top: 58px;
}

.sbc .card {
    margin-top: 48px;
    position: relative;
    overflow: hidden;
}

.sbc .card img {
    object-fit: contain;
    display: block;
}

.sbc .card p {
    position: absolute;
    bottom: 28px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    max-width: 424px;
    width: 100%;
    text-align: center;
}

/* limited edition product */
.lep {
    margin: 58px 0;
}

.lep .card {
    margin-top: 48px;
}

.lep .card-content {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
}

.lep .left .p1 {
    color: #717171;
    font-size: 18px;
    font-weight: normal;
}

.lep .left .p2 {
    color: #1C1C1C;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.lep .left .p3 {
    color: #1C1C1C;
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
}

.lep .p11 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lep .p11 a {
    font-family: "Poppins", sans-serif;
    color: #1C1C1C;
    font-size: 18px;
    font-weight: 500;
    padding: 11px 41px;
    border: 2px solid #1C1C1C;
    border-radius: 5px;
    margin: 46px 0 58px;
}

.lep .p11 a:hover {
    color: #F6F4F0;
    background-color: #0B0B0B;
}

/* support */
.support {
    margin: 48px 0;
}

.support .card-img {
    display: flex;
    justify-content: center;
}

.support .card-content {
    margin-top: 30px;
}

.support h2 {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.support p {
    color: #656565;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

/* footer */
footer {
    background-color: #EAE5DE;
}

.footer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 58px 0 29px;
}

.footer1 img {
    max-width: 133px;
    /* max-height: 45px; */
    width: 100%;
    /* height: 100%; */
}

.footer2 {
    text-transform: uppercase;
    padding: 0px 15px 58px;
}

.footer2 .row {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer2 h3 {
    text-transform: uppercase;
    font-size: 18px;
    padding-bottom: 10px;
}

.footer2 p {
    font-size: 16px;
    padding-bottom: 10px;
}

.footer2 a {
    color: #000;
}

.footer2 .shop {
    max-width: 112px;
    width: 100%;
}

.footer2 .help {
    max-width: 215px;
    max-width: 100%;
}

.footer2 .contact {
    max-width: 310px;
    width: 100%;
}

.footer2 .contact .social {
    padding-top: 60px;
}

.footer2 .contact span {
    gap: 7px;
}

/* .footer2 .contact span a:hover {
    text-decoration: underline;
} */

.footer2 .subscribe {
    text-transform: none;
    max-width: 320px;
    width: 100%;
}

.footer2 .subscribe form {
    margin: 10px 15px 20px;
    font-size: 14px;
    background-color: #F6F4F0;
    border: 1px solid #B9B39C;
}

.footer2 form input {
    background-color: #F6F4F0;
    border: none;
    padding: 8px 10px;
}

.footer2 input[type="email"] {
    color: #4C4C4C;
}

.footer2 input[type="submit"] {
    color: #000;
    cursor: pointer;
}

.footer2 .payments {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.footer2 .payments img {
    max-width: 40px;
    width: 100%;
    height: auto;
}

.footer3 {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 22px 36px 25px;
    border-top: 1px solid #89815A;
}

.footer3 a {
    color: #000;
}

.footer3 .p2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 57px;
}