@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('mediaQuery.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-popup {
    max-width: 870px;
    width: 80%;
    max-height: 639px;
    height: 80%;
    background: #fff;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    z-index: 100;
}

.left-side {
    width: 30%;
    background: url('../images/login.png') center/cover no-repeat;
}

.right-side {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 22px;
    cursor: pointer;
}

.right-side h2 {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 22px;
    position: relative;
}

.form-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgot {
    display: block;
    text-align: right;
    font-size: 13px;
    color: #555;
    margin-top: 5px;
    text-decoration: none;
}

.forgot:hover {
    text-decoration: underline;
}

.login-btn {
    width: 100%;
    background: white;
    color: black;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

.login-btn:hover {
    background: black;
    color: white;
}

.register-text {
    text-align: center;
    margin-top: 20px;
}

.register-text a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
}

.social-login button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 80px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.message {
    margin-top: 15px;
    text-align: center;
    font-weight: 500;
}

.success {
    color: green;
}

.error {
    color: red;
}

.warning {
    color: orange;
}